

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/


# OS files
.DS_Store
Thumbs.db

data/processed/signal_processing/*.csv
data/processed/artifact_labels/*.csv
data/processed/artifact_labels/*.txt